
.fade-down{
    animation: fadeDown 0.75s ease forwards;
}
.fade-up{
    animation: fadeUp 0.75s ease forwards;
}
.fade-in{
    animation: fadeIn 0.75s ease forwards;
}
.fade-out{
    animation: fadeOut 6s ease forwards;
}
.fade-left{
    animation: fadeLeft 0.75s ease forwards;
}
.fade-right{
    animation: fadeRight 0.75s ease forwards;
}
@keyframes fadeLeft {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeRight {
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeDown {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeUp {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
        scale: 110%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}
@keyframes fadeOut {
    from{
        opacity: 1;
        scale: 100%;
    }
    to{
        opacity: 0;
        scale: 1120%;
    }
}