@import "tailwindcss";

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.playfair-regular{
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.playfair-bold{
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.border-design{
  border-radius: 3px 6px 3px 6px;
}
/*To hide the browser built-in visibility eye in password field*/
input[type="password"]::-ms-reveal {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}

/*Animations*/
.fade-down{
    animation: fadeDown 0.75s ease forwards;
}
.fade-up{
    animation: fadeUp 0.75s ease forwards;
}
.fade-in{
    animation: fadeIn 0.75s ease forwards;
}
.fade-out{
    animation: fadeOut 6s ease forwards;
}
.fade-left{
    animation: fadeLeft 0.75s ease forwards;
}
.fade-right{
    animation: fadeRight 0.75s ease forwards;
}
@keyframes fadeLeft {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeRight {
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeDown {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeUp {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
        scale: 110%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}
@keyframes fadeOut {
    from{
        opacity: 1;
        scale: 100%;
    }
    to{
        opacity: 0;
        scale: 1120%;
    }
}